@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@layer base {
    body {
        @apply text-colorDark dark:text-colorDark_DM bg-colorLight dark:bg-colorLight_DM font-sans
    }

    img {
        @apply w-[100%];
    }

    h1 {
        @apply text-[2rem];
    }

    h2 {
        @apply text-[1.2rem];
    }

    h3 {
        @apply text-[1rem];
    }

    h4 {
        @apply text-[0.77rem];
    }

    h5 {
        @apply text-[0.76rem] font-bold;
    }

    h6 {
        @apply text-[0.76rem];
    }

    p {
        @apply text-[0.86rem] text-colorGrayDark dark:text-colorGrayDark_DM;
    }

    small {
        @apply text-[0.77rem] font-light;
    }

}

@layer components {
    .active-theme {
        @apply bg-colorDark dark:bg-colorDark_DM text-colorWhite dark:text-colorWhite_DM rounded-full
    }

    .active-menu {
        @apply bg-colorWhite dark:bg-colorWhite_DM text-colorPrimary before:content-[''] before:w-[6px] before:h-full before:bg-colorPrimary
    }

    div.card:nth-child(1) {
        @apply bg-gradient-to-l from-[#ff796f] to-[#bd261b] shadow-card1 hover:shadow-none;
    }

    div.card:nth-child(2) {
        @apply bg-gradient-to-l from-[#7f8191] to-[#27282f] shadow-card2 hover:shadow-none;
    }

    div.card:nth-child(3) {
        @apply bg-gradient-to-l from-[#5d70ff] to-[#5719c2] shadow-card3 hover:shadow-none;
    }

}


/* root css variables */
:root {
    --color-white: #ffffff;
    --color-light: #f0eff5;
    --color-gray-light: #86848c;
    --color-gray-dark: #56555e;
    --color-dark: #27282f;
    --color-primary: rgb(71, 7, 234);
    --color-success: rgb(34, 202, 75);
    --color-danger: rgb(255, 67, 54);
    --color-warning: rgb(234, 181, 7);
    --color-purple: rgb(160, 99, 245);

    --color-primary-light: rgba(71, 7, 234, 0.2);
    --color-success-light: rgba(34, 202, 75, 0.2);
    --color-danger-light: rgba(255, 67, 54, 0.2);
    --color-purple-light: rgba(160, 99, 245, 0.2);

    --card-padding: 1.6rem;
    --padding-1: 1rem;
    --padding-2: 8px;

    --card-border-radius: 1.6rem;
    --border-radius-1: 1rem;
    --border-radius-2: 6px;
}


/* ------middle -------- */

/* ------ fast payment ------- */
.fast-payment {
    margin-top: 2rem;
    display: flex;
    align-self: center;
    gap: 2rem;
}

.fast-payment .badges {
    display: flex;
    gap: 1rem;
    align-self: center;
    flex-wrap: wrap;
    max-width: 100%;
}

.fast-payment .badges .badge span {
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

.fast-payment .badges .badge {
    padding: 0.5rem var(--card-padding);
    background: var(--color-white);
    border-radius: var(--border-radius-2);
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 300ms ease;
}

.fast-payment .badges .badge:hover {
    box-shadow: 0 0 1.5rem var(--color-primary-light);
    cursor: pointer;
}

.fast-payment .badges .badge:first-child span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    font-size: 1.5rem;
}

.fast-payment .badges .badge div {
    display: flex;
    align-self: center;
    gap: 1rem;
}

/* -------- chart canvas ------- */

canvas#chart {
    background: var(--color-white);
    max-width: 100%;
    margin-top: 2rem;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
}

/* --------- media queries for tablets --------- */
@media screen and (max-width:1024px) {

    main canvas {
        margin: 3rem 0 1rem;
    }
}

/* --------- media queries for mobiles --------- */
@media screen and (max-width:600px) {

    main section.middle .fast-payment {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 3rem;
        gap: 1.4rem;
    }
}