@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@layer base {
    body {
        @apply text-colorDark dark:text-colorDark_DM bg-colorLight dark:bg-colorLight_DM font-sans
    }

    img {
        @apply w-[100%];
    }

    h1 {
        @apply text-[2rem];
    }

    h2 {
        @apply text-[1.2rem];
    }

    h3 {
        @apply text-[1rem];
    }

    h4 {
        @apply text-[0.77rem];
    }

    h5 {
        @apply text-[0.76rem] font-bold;
    }

    h6 {
        @apply text-[0.76rem];
    }

    p {
        @apply text-[0.86rem] text-colorGrayDark dark:text-colorGrayDark_DM;
    }

    small {
        @apply text-[0.77rem] font-light;
    }

}

@layer components {
    .text-muted {
        @apply text-colorGrayLight;
    }

    .primary {
        @apply text-colorPrimary;
    }

    .danger {
        @apply text-colorDanger;
    }

    .success {
        @apply text-colorSuccess;
    }

    .purple {
        @apply text-colorPurple;
    }

    .bg-primary {
        @apply bg-colorPrimary;
        box-shadow: 0 0.8rem 0.8rem var(--color-primary-light);
    }

    .bg-danger {
        @apply bg-colorDanger;
        box-shadow: 0 0.8rem 0.8rem var(--color-danger-light);
    }

    .bg-success {
        @apply bg-colorSuccess;
        box-shadow: 0 0.8rem 0.8rem var(--color-success-light);
    }

    .bg-purple {
        @apply bg-colorPurple;
        box-shadow: 0 0.8rem 0.8rem var(--color-purple-light);
    }

    .bg-dark {
        background: #27282f;
        box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
    }

    .bg-purple-light {
        background: @apply text-colorPurleLight;
    }

    .bg-danger-light {
        background: @apply text-colorDangerLight;
    }

    .bg-success-light {
        background: @apply text-colorSuccessLight;
    }

    .bg-primary-light {
        background: @apply text-colorPrimaryLight;
    }

    .active-theme {
        @apply bg-colorDark dark:bg-colorDark_DM text-colorWhite dark:text-colorWhite_DM rounded-full
    }

    .active-menu {
        @apply bg-colorWhite dark:bg-colorWhite_DM text-colorPrimary
    }

}


/* root css variables */
:root {
    --color-white: #ffffff;
    --color-light: #f0eff5;
    --color-gray-light: #86848c;
    --color-gray-dark: #56555e;
    --color-dark: #27282f;
    --color-primary: rgb(71, 7, 234);
    --color-success: rgb(34, 202, 75);
    --color-danger: rgb(255, 67, 54);
    --color-warning: rgb(234, 181, 7);
    --color-purple: rgb(160, 99, 245);

    --color-primary-light: rgba(71, 7, 234, 0.2);
    --color-success-light: rgba(34, 202, 75, 0.2);
    --color-danger-light: rgba(255, 67, 54, 0.2);
    --color-purple-light: rgba(160, 99, 245, 0.2);

    --card-padding: 1.6rem;
    --padding-1: 1rem;
    --padding-2: 8px;

    --card-border-radius: 1.6rem;
    --border-radius-1: 1rem;
    --border-radius-2: 6px;
}

/* main */

/* ----updates ------- */
 aside .updates {
    background: var(--color-white);
    border-radius: var(--border-radius-1);
    text-align: center;
    padding: var(--card-padding);
}

 aside .updates span {
    font-size: 2.8rem;
}

 aside .updates h4 {
    margin: 1rem 0;
}

 aside .updates a {
    display: block;
    width: 100%;
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
    padding: 0.8rem 0;
    margin-top: 2rem;
    transition: all 300ms ease;
}

 aside .updates a:hover {
    box-shadow: 0 1rem 2rem var(--color-primary-light);
}

/* ------middle -------- */
main section.middle .header {
    display: flex;
    align-items: center;
    gap: 1rem;

}

main section.middle input[type="date"] {
    padding: 0.5rem 2rem;
    border-radius: var(--border-radius-2);
    background: var(--color-white);
    color: var(--color-gray-dark);
}

main section.middle .cards {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

main section.middle .cards .card {
    background: linear-gradient(#ff796f, #bd261b);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    color: white;
    height: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2rem 3rem var(--color-danger-light);
    transition: all 300ms ease;
}

main section.middle .cards .card:nth-child(2) {
    background: linear-gradient(#7f8191, #27282f);
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);
}

main section.middle .cards .card:nth-child(3) {
    background: linear-gradient(#5d70ff, #5719c2);
    box-shadow: 0 2rem 3rem var(--color-primary-light);
}

main section.middle .cards .card:hover {
    box-shadow: none;
}

main section.middle .cards .card .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main section.middle .cards .card .top .left {
    display: flex;
    gap: 0.5rem;
}

main section.middle .cards .card .top h2 {
    font-weight: 200;
    font-size: 1.4rem;
}

main section.middle .cards .card .top .left img {
    width: 2.3rem;
    height: 2.3rem;
    border: 1px solid white;
    border-radius: var(--border-radius-2);
    padding: 0.4rem;
}

main section.middle .cards .card .top img.right {
    width: 3.5rem;
}

main section.middle .cards .card .middle {
    display: flex;
    justify-content: space-between;
}

main section.middle .cards .card .middle .chip {
    width: 3.5rem;
}

main section.middle .cards .card .bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

main section.middle .cards .card .bottom .right {
    display: flex;
    gap: 2rem;
}

main section.middle .cards .card h1 {
    font-size: 1.6rem;
}

/* ------ report monthly ------ */
main .monthly-report {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-content: space-between;
    margin-top: 2rem;
}

main .monthly-report h1 {
    font-size: 1.8rem;
    font-weight: 700;
}

/* ------ fast payment ------- */
main .fast-payment {
    margin-top: 2rem;
    display: flex;
    align-self: center;
    gap: 2rem;
}

main .fast-payment .badges {
    display: flex;
    gap: 1rem;
    align-self: center;
    flex-wrap: wrap;
    max-width: 100%;
}

main .fast-payment .badges .badge span {
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

main .fast-payment .badges .badge {
    padding: 0.5rem var(--card-padding);
    background: var(--color-white);
    border-radius: var(--border-radius-2);
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 300ms ease;
}

main .fast-payment .badges .badge:hover {
    box-shadow: 0 0 1.5rem var(--color-primary-light);
    cursor: pointer;
}

main .fast-payment .badges .badge:first-child span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    font-size: 1.5rem;
}

main .fast-payment .badges .badge div {
    display: flex;
    align-self: center;
    gap: 1rem;
}

/* -------- chart canvas ------- */

main canvas#chart {
    background: var(--color-white);
    max-width: 100%;
    margin-top: 2rem;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
}

/* ---------- investments ------ */
main section.right .investments {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
}

main section.right .investments img {
    width: 2.4rem;
}

main section.right .investments .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--card-padding);
    padding-bottom: 0;
}

main section.right .investments .header a {
    display: flex;
    color: var(--color-primary);
    align-items: center;
}

main section.right .investments .investment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--card-padding);
    border-bottom: 1px solid var(--color-light);
    transition: all 300ms ease;
}

main section.right .investments .investment:last-child {
    border-bottom: none;
}

main section.right .investments .investment:hover {
    background: var(--color-light);
    cursor: pointer;
}


/* ------- recent transactions -------  */
main .right .recent-transactions {
    margin-top: 2rem;
}

main .right .recent-transactions img {
    width: 2.2rem;
}

main .right .recent-transactions .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

main .right .recent-transactions .header a {
    display: flex;
    color: var(--color-primary);
    align-items: center;
}

main .right .recent-transactions .transaction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem var(--card-padding);
    border-radius: var(--card-border-radius);
    transition: all 300ms ease;
}

main .right .recent-transactions .transaction:hover {
    background: var(--color-white);
    cursor: pointer;
}

main .right .recent-transactions .transaction .service {
    display: flex;
    gap: 1rem
}

main .right .recent-transactions .transaction .service .icon {
    padding: var(--padding-2);
    border-radius: var(--border-radius-2);
    display: flex;
    align-items: center;
}

main .right .recent-transactions .transaction .card-details {
    display: flex;
    gap: 1rem;
    align-items: center;
}

main .right .recent-transactions .transaction .card-details .card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 4.6rem;
    border-radius: var(--border-radius-2);
}

/* --------- media queries for tablets --------- */
@media screen and (max-width:1024px) {
    nav .search-bar {
        display: none;
    }

    nav .profile-area {
        gap: 2rem;
    }

    nav .profile-area button {
        display: inline-block;
        background: transparent;
        color: var(--color-dark);
    }

    main {
        grid-template-columns: 1fr;
    }

    main aside {
        position: fixed;
        background-color: var(--color-white);
        top: 0;
        left: -100%;
        z-index: 3;
        width: 22rem;
        height: 100vh;
        box-shadow: 2rem 0 2rem var(--color-primary-light);
        display: none;
        animation: showSidebar 300ms ease forwards;
    }

    @keyframes showSidebar {
        to {
            left: 0;
        }
    }

    main aside button#close-btn {
        display: inline-block;
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 4;
        background: transparent;
        color: var(--color-dark);
    }

    button:hover {
        cursor: pointer;
    }

    main aside .sidebar {
        margin-top: 4rem;
    }

    main aside .updates {
        display: none;
    }

    main section.middle .cards {
        grid-template-columns: 1fr 1fr;
    }

    main canvas {
        margin: 3rem 0 1rem;
    }

    main section.right .recent-transactions {
        margin-top: 3rem;
    }
}

/* --------- media queries for mobiles --------- */
@media screen and (max-width:600px) {
    nav .profile-area {
        gap: 0.6rem;
    }

    main section.middle .cards {
        grid-template-columns: 1fr;
    }

    nav .profile h5, nav .profile span {
        display: one;
    }

    main section.middle .fast-payment {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 3rem;
        gap: 1.4rem;
    }
}